.app {
    display: block;
    width: 800px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 25px 20px;
    border: 2px solid rgba(11, 202, 107, 0.4);
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}